@use './styles/tokens' as *;

.layout {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: $space-6 $space-4;

  @include bp-md {
    padding: $space-12 $space-8;
  }
}

.container {
  max-width: $max-width;
  margin: 0 auto;
}
