@use '../../styles/tokens' as *;

.header {
  width: 100%;
  background-color: $color-navy;
  min-height: 56px;

  @include bp-md {
    min-height: 80px;
  }
}

.inner {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $space-6;
  min-height: 56px;
  display: flex;
  align-items: center;

  @include bp-md {
    padding: 0 $space-10;
    min-height: 80px;
  }
}

.logo {
  height: 16px;
  width: auto;

  @include bp-md {
    height: 24px;
  }
}
